* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 186px;
  height: 186px;
  position: relative;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
}

.main>div {
  width: 60px;
  height: 60px;
  background-color: white;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-size: 32px;
  font-weight: 700;
}

.info-turn-restart {
  margin-left: 1em;
}

.turn-message {
  font-size: 28px;
  font-weight: 800;
  color: rgb(33, 33, 37);
  margin-bottom: 8px;
}

.restart {
  cursor: pointer;
  background-color: rgb(85, 84, 84);
  color: white;
  border: none;
  border-radius: 7%;
  font-size: 18px;
  padding: 8px;
}

main {
  position: relative;
  margin-block: 10px;
}

.line {
  background-color: red;
  position: absolute;
}